language: php
sudo: false

matrix:
  fast_finish: true
  include:
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2

before_script:
  - composer self-update
  - composer install --prefer-source --no-progress --no-interaction

script:
  - vendor/bin/phpunit
